<?xml version="1.0"?>
<Marauder>
	<Users>
		<status>
			teacher
		</status>
		<status>
			student
		</status>
	</Users>
	<nbOfUsers>
	15
	</nbOfUsers>
	<group id="5">
		<nbOfTeachers>
			5
		</nbOfTeachers>
		<nbOfStudents>
		20
		</nbOfStudents>
		<position>
			5,5
		</position>
		<destination>
			20,20
		</destination>
	</group>
	
	
</Marauder>